@model IEnumerable<ConsumerPanelTestSystemApplication.ViewModels.QuestionViewModel>

@{
    ViewBag.Title = "Question Index";
}

<h2>Question List</h2>

<p>
    @Html.ActionLink("Add New Question", "Create", null, new { @class = "btn btn-sm btn-primary" })
</p>
<table id="employeesTable" class="display" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuestionText)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ResponseType)
            </th>
            <th></th>
        </tr>
      </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionText)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResponseType)
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-sm btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/dataTables.scroller.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/dataTables.bootstrap.min.js")"></script>

    <script type="text/javascript">
      $(document).ready( function () {
          $('#employeesTable').DataTable(
              {
                  "columnDefs": [
            { "orderable": true, "targets": -1 }
                  ]
              });
      });


    </script>
}

@section styles
{
    <link href="@Url.Content("/Content/DataTables/css/jquery.dataTables.min.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/DataTables/css/dataTables.scroller.min.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/DataTables/css/dataTables.bootstrap.min.css")" rel="stylesheet" />
    }
