@model IEnumerable<ConsumerPanelTestSystemApplication.ViewModels.QuestionnaireViewModel>

@{
    ViewBag.Title = "Pending Requests";
}

<h2>Pending Questionnaires</h2>

<h4>Questionnaires to be executed.</h4>

<table class="table">
    <tr>              
        <th>
            @Html.DisplayNameFor(model => model.QuestionnaireTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuestionnaireTypeName)
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>    
        <td>
            @Html.DisplayFor(modelItem => item.QuestionnaireTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionnaireTypeName)
        </td>        
        
        <td>
        @if (item.CRUMEmployeeID == null)
        {
            @Html.ActionLink("Assign Questionnaire", "AssignQuestionnaire", new { id = item.Id }, new { @class = "btn btn-sm btn-warning" })
        }
        else
        {            
                @Html.ActionLink("Questionnaire Details", "ExecutionDetails", new { id = item.Id }, new { @class = "btn btn-sm btn-info" })         
        }
        </td>
    </tr>
}

</table>
