@model ConsumerPanelTestSystemApplication.ViewModels.QuestionnaireViewModel


@{
    ViewBag.Title = "Questionnaire Details";
}

<h2>Questionnaire Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.ResponseQuantityRequired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResponseQuantityRequired)
        </dd>

        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.QuestionnaireTypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionnaireTypeName)
        </dd>
              
       @if (Model.BComment != null)
       {
        <dt style="text-align:left">
            @Html.DisplayNameFor(model => model.BComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BComment)
        </dd>
       }

        @if (Model.MComment != null)
        {
            <dt style="text-align:left">
                @Html.DisplayNameFor(model => model.MComment)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MComment)
            </dd>
        }
       

    </dl>
</div>
<div class="form-actions no-color col-md-offset-2">
    @if (User.IsInRole("Brand Manager"))
    {
        @Html.ActionLink("Back to Pending Requests", "BrandManagerReviewIndex", "CPTRequest", null, new { @class = "btn btn-md btn-default" })

    }
    else
    {
        @Html.ActionLink("Back to Pending Requests", "MarketingDirectorReviewIndex", "CPTRequest", null, new { @class = "btn btn-md btn-default" })
    }

    @if (User.IsInRole("Brand Manager") && Model.BReviewQuestionnaire != ConsumerPanelTestSystemApplication.Models.Review.Approved && Model.Status == ConsumerPanelTestSystemApplication.Models.QuestionnaireStatus.BMQuestionnaireApproval)
    {
        @Html.ActionLink("View Survey", "CreateSurvey", "Survey", new { id = Model.QuestionnaireTypeId }, new { @class = "btn btn-md btn-info" })
        
    }

@if (User.IsInRole("Brand Manager") && Model.BReviewQuestionnaire != ConsumerPanelTestSystemApplication.Models.Review.Approved && Model.Status == ConsumerPanelTestSystemApplication.Models.QuestionnaireStatus.BMQuestionnaireApproval)
{

    @Html.ActionLink("Review", "ReviewQuestionnaire", new { id = Model.Id }, new { @class = "btn btn-md btn-success" })

}

@if (User.IsInRole("Marketing Director") && Model.BReviewQuestionnaire != ConsumerPanelTestSystemApplication.Models.Review.Approved && Model.Status == ConsumerPanelTestSystemApplication.Models.QuestionnaireStatus.MDQuestionnaireApproval)
{
        @Html.ActionLink("View Survey", "CreateSurvey", "Survey", new { id = Model.QuestionnaireTypeId }, new { @class = "btn btn-md btn-info" })
}

@if (User.IsInRole("Marketing Director") && Model.BReviewQuestionnaire != ConsumerPanelTestSystemApplication.Models.Review.Approved && Model.Status == ConsumerPanelTestSystemApplication.Models.QuestionnaireStatus.MDQuestionnaireApproval)
{
    @Html.ActionLink("Review", "ReviewQuestionnaire", new { id = Model.Id }, new { @class = "btn btn-md btn-success" })
}
</div>

