
<h2>All Users</h2>

@{
    ViewBag.Title = "All Users";
    ViewBag.Message = "Page to manage all user types.";

    <li>@Html.ActionLink("Employees", "Index", "Employee")</li>
    <li>@Html.ActionLink("Requesters", "Index", "Requester")</li>
    <li>@Html.ActionLink("Brand Managers", "Index", "BrandManager")</li>
    <li>@Html.ActionLink("CRU Supervisors", "Index", "CRUSupervisor")</li>
    <li>@Html.ActionLink("CRU Members", "Index", "CRUMember")</li>
}



