@model ConsumerPanelTestSystemApplication.ViewModels.SurveyViewModel

@{
    ViewBag.Title = "Survey";
}

<h2>Conduct Survey</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Questions)
            </th>
            <th>Strongly Agree</th>
            <th>Agree</th>
            <th>Neutral</th>
            <th>Disagree</th>
            <th>Strongly Disagree</th>

        </tr>
        @for (int i = 0; i < Model.Questions.Count(); i++)
        {
            <tr>
                <td>
                    @Html.HiddenFor(m => m.Questions[i].Id)
                    @Html.DisplayFor(m => m.Questions[i].QuestionText)
                </td>
                @foreach (var answer in Model.Questions[i].PossibleAnswers)
                {
                    <td>
                        @Html.RadioButtonFor(m => m.Questions[i].SelectedAnswer, answer.Id, new { id = answer.Id })
                    </td>
                }
                @Html.ValidationMessageFor(m => m.Questions[i].SelectedAnswer)
            </tr>
        }
    </table>

    <div class="form-group">
        <div>
            <input type="submit" value="Submit" class="btn btn-success btn-md" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
