
@using ConsumerPanelTestSystemApplication.Controllers;
@using ConsumerPanelTestSystemApplication.Models;
@using ConsumerPanelTestSystemApplication.ViewModels;


@{
    ViewBag.Title = "Conduct Survey";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <h2> Conduct Survey </h2>
    <table class="table">
        @for (int i = 0; i < Model.Questions.Count(); i++)
        {
            <tr>
                <td>
                    @Html.HiddenFor(m => m.Questions[i].Id)
                    @Html.DisplayFor(m => m.Questions[i].QuestionText)
                </td>
                <td>
                    <div class="form-group">
                        
                            @foreach (var answer in Model.Questions[i].PossibleAnswers)
                            {
                                @Html.RadioButtonFor(m => m.Questions[i].SelectedAnswer, answer.Id, new { id = answer.Id })
                                <label for="@answer.Id" class="control-label">@answer.Text</label>
                            }
                                         
                    </div>
                </td>
            </tr>
        }
    </table>

@*@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Questions)
            </th>
            <th>Fair</th>
            <th>Average</th>
            <th>Good</th>
        </tr>

        @for (int i = 0; i < Model.Questions.Count(); i++)
        {
            <tr>
                <td>
                    @Html.HiddenFor(m => m.Questions[i].Id)
                    @Html.DisplayFor(m => m.Questions[i].Text)
                </td>

                @foreach (var answer in Model.Questions[i].PossibleAnswers)
                {
                    <td>
                        @Html.RadioButtonFor(m => m.Questions[i].SelectedAnswer, answer.Id, new { id = answer.Id })
                        @*<label for="@answer.Id">@answer.Text</label>*@
                    @*</td>
                }
                @Html.ValidationMessageFor(m => m.Questions[i].SelectedAnswer)
            </tr>
        }
    </table>*@

    <div class="form-group">
        <div>
            <input type="submit" value="Submit" class="btn btn-success btn-md" />
        </div>
    </div>
    }
}
