@model IEnumerable<ConsumerPanelTestSystemApplication.ViewModels.CPTRequestViewModel>

@{
    ViewBag.Title = "Brand Manager Pending Requests";
}

<h2>Pending Requests</h2>

<h4>Requests to be reviewed.</h4>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequestTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestDate)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.SubmittedByName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RequestTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubmittedByName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestStatus)
        </td>
        <td>            
            @Html.ActionLink("View Request Details", "PendingRequestsDetails", new { id=item.Id }, new { @class = "btn btn-sm btn-info" }) 
            
            @if (item.RequestStatus == ConsumerPanelTestSystemApplication.Models.RequestStatus.BMRequestApproval)
            {            
            @Html.ActionLink("Review", "BrandManagerReview", new { id = item.Id }, new { @class = "btn btn-sm btn-success" })    
            }       
        </td>
    </tr>
}

</table>
