@model IEnumerable<ConsumerPanelTestSystemApplication.ViewModels.CPTRequestViewModel>

@{
    ViewBag.Title = "CPT Coordinator Approved Requests";
}

<h2>Approved Requests</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequestTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestDate)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.ProductDivision)
        </th>       
        <th>
            @Html.DisplayNameFor(model => model.SubmittedByName)
        </th> 
        <th>
    @Html.DisplayNameFor(model => model.RequestStatus)
        </th>      
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RequestTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestDate)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.ProductDivision)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.SubmittedByName)
        </td>   
        <td>
            @Html.DisplayFor(modelItem => item.RequestStatus)
        </td>     
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id }, new { @class = "btn btn-sm btn-info" })    
            @Html.ActionLink("Create Questionnaire", "Create", "Questionnaire", new { id = item.Id }, new { @class = "btn btn-sm btn-info" })
        </td>
    </tr>
}

</table>
