@model IEnumerable<ConsumerPanelTestSystemApplication.ViewModels.CPTRequestViewModel>

@{
    ViewBag.Title = "Request List";
}

<h2>Request List</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RequestTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductDivision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RequestStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmittedBy)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RequestTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDivision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RequestStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubmittedBy)
        </td>
        
        <td>           
            @Html.ActionLink("View Request Details", "Details", new { id=item.Id }) |
            @*@Html.ActionLink("Review", "MarketingDirectorReview", new { id = item.Id })*@
        </td>
    </tr>
}

</table>
