@model IEnumerable<ConsumerPanelTestSystemApplication.ViewModels.CPTRequestViewModel>

@{
    ViewBag.Title = "Pending Requests";
}

<h2>Pending Requests</h2>

<h4>Requests to be reviewed.</h4>


<table id="employeesTable" class="display" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequestTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductDivision)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmittedByName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestStatus)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestTitle)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductDivision)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequestStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubmittedByName)
                </td>

                <td>
                    @Html.ActionLink("Request Details", "PendingRequestsDetails", new { id = item.Id }, new { @class = "btn btn-sm btn-info" })
                   &nbsp;
                    @if (item.RequestStatus == ConsumerPanelTestSystemApplication.Models.RequestStatus.MDRequestApproval)
                    {
                        @Html.ActionLink("Review Request", "MarketingDirectorReview", new { id = item.Id }, new { @class = "btn btn-sm btn-success" })
                    }

                    @if (item.QuestionnaireExist == true && item.RequestStatus != ConsumerPanelTestSystemApplication.Models.RequestStatus.BMRequestApproval && item.RequestStatus != ConsumerPanelTestSystemApplication.Models.RequestStatus.MDRequestApproval && item.RequestStatus != ConsumerPanelTestSystemApplication.Models.RequestStatus.QuestionnaireCreation && item.RequestStatus != ConsumerPanelTestSystemApplication.Models.RequestStatus.BMQuestionnaireApproval)
                    {
                        @Html.ActionLink("Questionnaire Details", "ReviewDetails", "Questionnaire", new { id = item.QuestionnaireId }, new { @class = "btn btn-sm btn-info" })
                    }

</td>
    </tr>
        }
    </tbody>

 </table>

                        @section scripts
                        {
                            <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/jquery.dataTables.min.js")"></script>
                            <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/dataTables.scroller.min.js")"></script>
                            <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/dataTables.bootstrap.min.js")"></script>

                            <script type="text/javascript">
                              $(document).ready( function () {
                                  $('#employeesTable').DataTable(
                                      {
                                          "columnDefs": [
                                    { "orderable": true, "targets": -1 }
                                          ]
                                      });
                              });


                            </script>
                        }

                        @section styles
                        {
                            <link href="@Url.Content("/Content/DataTables/css/jquery.dataTables.min.css")" rel="stylesheet" />
                            <link href="@Url.Content("/Content/DataTables/css/dataTables.scroller.min.css")" rel="stylesheet" />
                            <link href="@Url.Content("/Content/DataTables/css/dataTables.bootstrap.min.css")" rel="stylesheet" />
                        }
