@model IEnumerable<ConsumerPanelTestSystemApplication.ViewModels.CPTRequestViewModel>

@{
    ViewBag.Title = "Submitted Requests";
}

<h2>Your Submitted Requests</h2>

<p>
    @if (User.IsInRole("Brand Manager"))
    {
        @Html.ActionLink("Submit New Request", "BrandManagerCreate", null, new { @class = "btn btn-md btn-primary" }) 
    }

    else
    {
        @Html.ActionLink("Submit New Request", "RequesterCreate", null, new { @class = "btn btn-md btn-primary" })
    }
</p>
<table id="submittedRequestsTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequestTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestStatus)
            </th>
            <th>
             @Html.DisplayNameFor(model => model.ProductDivision)    
            </th>
            <th></th>
        </tr>
    </thead>

    
@foreach (var item in Model)
{
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestStatus)
            </td>
           
            <td>                
                @Html.DisplayFor(modelItem => item.ProductDivision)
            </td>


            
            <td>
                @Html.ActionLink("Request Details", "SubmittedRequestsDetails", new { id = item.Id }, new { @class = "btn btn-sm btn-info" })
        </tr>
    </tbody>
}

</table>
@*@if (User.IsInRole("Brand Manager"))
{
        @Ajax.ActionLink("Your Pending Requests", "BrandManagerReviewIndex", new AjaxOptions { UpdateTargetId = "BrandManagerReviewIndex", HttpMethod = "GET", InsertionMode = InsertionMode.Replace })
}*@


@*<div id="BrandManagerReviewIndex"></div>*@

@section scripts
{
    <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/jquery.dataTables.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/dataTables.scroller.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("/Scripts/DataTables/dataTables.bootstrap.min.js")"></script>

    <script type="text/javascript">
      $(document).ready( function () {
          $('#submittedRequestsTable').DataTable();
      });

      $('#employeesTable').dataTable({
          "columnDefs": [
            { "orderable": false, "targets": -1 }
          ]
      });

    </script>
}

@section styles
{
    <link href="@Url.Content("/Content/DataTables/css/jquery.dataTables.min.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/DataTables/css/dataTables.scroller.min.css")" rel="stylesheet" />
    <link href="@Url.Content("/Content/DataTables/css/dataTables.bootstrap.min.css")" rel="stylesheet" />
} 