<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="font-size:32px">@ViewBag.Title - Consumer Panel Test System</title>
    @Styles.Render("~/bundles/cssdatatables")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Consumer Panel Test System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>  
                    
                @if (User.IsInRole("Admin"))
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            All Users
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a> @Html.ActionLink("Employees", "Index", "Employee")</a></li>
                            <li><a> @Html.ActionLink("Brand Managers", "Index", "BrandManager")</a></li>
                            <li><a> @Html.ActionLink("Requesters", "Index", "Requester")</a></li>
                            <li><a> @Html.ActionLink("CRU Supervisors", "Index", "CRUSupervisor")</a></li>
                            <li><a> @Html.ActionLink("CRU Members", "Index", "CRUMember")</a></li>
                        </ul>
                    </li>
                }
                    @if (User.IsInRole("Marketing Director"))
                    {
                        <li>@Html.ActionLink("CPT Requests", "MarketingDirectorReviewIndex", "CPTRequest")</li>
                    }
                    else if (User.IsInRole("Brand Manager"))
                    {
                        <li>@Html.ActionLink("CPT Requests", "SubmittedRequestsIndex", "CPTRequest")</li>
                    }
                    else if (User.IsInRole("Requester"))
                    {
                        <li>@Html.ActionLink("CPT Requests", "SubmittedRequestsIndex", "CPTRequest")</li>
                    }
                    else if (User.IsInRole("CPT Coordinator"))
                    {
                        <li>@Html.ActionLink("CPT Requests", "CPTCoordinatorIndex", "CPTRequest")</li>
                    }
                    else if (User.IsInRole("CRU Supervisor"))
                    {
                        <li>@Html.ActionLink("Pending Questionnaires", "CRUSupervisorIndex", "Questionnaire")</li>
                    }
                    else if (User.IsInRole("CRU Member"))
                    {
                        <li>@Html.ActionLink("Pending Questionnaires", "CRUMemberIndex", "Questionnaire")</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Consumer Panel Test System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jsdatatables")
    @RenderSection("scripts", required: false)
</body>
</html>
