@model ConsumerPanelTestSystemApplication.ViewModels.EmployeeViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Employee</h2>

<h3>Are you sure you want to delete this Employee?</h3>

<fieldset class="fieldset-border">
    <legend class="legend-border"> &nbsp; Login Information</legend>
    <div class="form-horizontal">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
            </dl>
    </div>
</fieldset>

<fieldset class="fieldset-border">
    <legend class="legend-border"> &nbsp; Personal Information</legend>
    <div class="form-horizontal">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telephone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telephone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TelExtension)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TelExtension)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Mobile)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mobile)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Country)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Country)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>
        </dl>
</div>
</fieldset>

<fieldset class="fieldset-border">
    <legend class="legend-border"> &nbsp; Employee Information</legend>
    <div class="form-horizontal">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Roles)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Roles)
            </dd>
        </dl>
</div>
</fieldset>

@using (Html.BeginForm())
            {
    @Html.AntiForgeryToken()

            <div class="form-actions no-color col-md-offset-2">

    @Html.ActionLink("Back to Employee List", "Index", null, new { @class = "btn btn-md btn-default" })

    <input type="submit" value="Delete" class="btn btn-default btn-danger btn-md" />
</div>
}